@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.no-style-button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.button {
  background-color: var(--color-btn-bg);
  color: var(--color-btn-text);
  padding: var(--btn-padding);
  --btn-shadow: 0px 1px 3px rgba(47, 43, 67, 0.1),
    inset 0px -1px 0px rgba(47, 43, 67, 0.1);
  box-shadow: var(--btn-shadow);
  --btn-border: 1px solid rgba(0, 0, 0, 0);
  border: var(--btn-border);
  border-radius: 12px;
  outline: none;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.button:focus {
  --btn-shadow: 0px 0px 0px 3px rgba(132, 66, 211, 0.48);
}

.button:disabled {
  --color-btn-bg: rgba(47, 43, 67, 0.05) !important;
  --color-btn-text: rgba(47, 43, 67, 0.3) !important;
  --btn-shadow: none;
  cursor: not-allowed;
}

.button[data-btn-width-full="true"] {
  width: 100%;
}

.button[data-btn-intent="primary"] {
  --color-btn-bg: #2f2b43;
  --color-btn-text: #fff;
}

.button[data-btn-intent="primary"]:hover {
  --color-btn-bg: #3f395a;
}

.button[data-btn-intent="secondary"] {
  --color-btn-bg: #ffffff;
  --color-btn-text: #000000;
  --btn-border: 1px solid rgba(47, 43, 67, 0.1);
}

.button[data-btn-intent="secondary"]:hover {
  --color-btn-bg: #f6f6f8;
  --btn-border: 1px solid rgba(47, 43, 67, 0.2);
}

.button[data-btn-size="large"] {
  --btn-padding: 12px 16px;
}
